<%- include ('../partials/admin-header.ejs') %>

    <main class="mt-3" style="height: auto;"">
    <div class=" content-head">
        <div class="content-head-rect col-5 bg-dark-grn">
            <div>
                <h2 class="content-head-txt">DASHBOARD</h2>
            </div>
            <div class="content-head-tri ms-auto"></div>
        </div>
        </div>
        <div class="content-body side-margin text-center mt-3">
            <div class="sidebar">
                <a class="active" href="/admin/home">DASHBOARD</a>
                <a href="/admin/products">PRODUCTS</a>
                <a href="/admin/users">USERS</a>
                <a href="/admin/categories">CATEGORIES</a>
                <a href="/admin/orders">ORDERS</a>
                <!-- <a href="/admin/brands">BRANDS</a> -->
                <a href="/admin/coupons">COUPONS</a>
                <a href="/admin/offers">OFFERS</a>
                <a href="/admin/report">REPORT</a>
            </div>

            <% if(bestSellingProducts.length==0 || bestSellingCategories==0) { %>
                <div class="dashboard-content w-100 justify-content-center">
                    <div style="justify-content: center;">
                        <h3>No orders done yet</h3>
                    </div>
                </div>
                <% }else { %>
                    <div class="dashboard-content">
                        <div class="chart-container">
                            <!-- <canvas id="salesChart"></canvas> -->
                            <div class="chart-filters" style="display: flex; justify-content: center;">
                                <button class="btn btn-filter active" data-filter="yearly">Yearly</button>
                                <button class="btn btn-filter" data-filter="monthly">Monthly</button>
                                <button class="btn btn-filter" data-filter="weekly">Weekly</button>
                            </div>
                        </div>
                        <div class="best-selling">
                            <div class="best-selling-products">
                                <h3>Best Selling Products (Top 10)</h3>
                                <ul>
                                    <% if(bestSellingProducts) { %>
                                        <% bestSellingProducts.forEach(product=> { %>
                                            <li>
                                                <%= product.name %> - <%= product.sales %> sold
                                            </li>
                                            <% }); %>
                                                <% } %>
                                </ul>
                            </div>
                            <div class="best-selling-categories">
                                <h3>Best Selling Categories (Top 10)</h3>
                                <ul>
                                    <% if(bestSellingCategories) { %>
                                        <% bestSellingCategories.forEach(category=> { %>
                                            <li>
                                                <%= category.name %> - <%= category.sales %> sold
                                            </li>
                                            <% }); %>
                                                <% } %>
                                </ul>
                            </div>
                            <div class="best-selling-brands">
                                <h3>Best Selling Brands (Top 10)</h3>
                                <ul>
                                    <% if(bestSellingBrands) { %>
                                        <% bestSellingBrands.forEach(brand=> { %>
                                            <li>
                                                <%= brand.name %> - <%= brand.sales %> sold
                                            </li>
                                            <% }); %>
                                                <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% } %>
        </div>
    </main>

    <script>
        document.querySelectorAll(".btn-filter").forEach(button => {
            button.addEventListener('click', (e) => {
                e.preventDefault();

                let filterOption = button.getAttribute('data-filter');

                window.location = `/admin/home/${filterOption}`
                // fetch(`/admin/home/${filterOption}`,{
                //     method: 'GET',
                //     headers: { 'Content-Type': 'application/json' },
                //     // body: JSON.stringify({filterOption})
                // }).then(res => res.json())
                // .then(data=>{
                //     if(data.success){

                //     }
                // })
            })
        })
    </script>

    <%- include ('../partials/admin-footer.ejs') %>