<%- include ('../partials/admin-header.ejs') %>

    <main class="mt-3" style="height: auto; width: 100%;">
        <div class=" content-head">
            <div class="content-head-rect col-5 bg-dark-grn">
                <div>
                    <h2 class="content-head-txt">ORDER MANAGEMENT</h2>
                </div>
                <div class="content-head-tri ms-auto"></div>
            </div>
        </div>
        <div class="content-body side-margin text-center mt-3">
            <div class="sidebar align-items-center">
                <a href="/admin/home">DASHBOARD</a>
                <a href="/admin/products">PRODUCTS</a>
                <a href="/admin/users">USERS</a>
                <a href="/admin/categories">CATEGORIES</a>
                <a class="active" href="/admin/orders">ORDERS</a>
                <!-- <a href="/admin/brands">BRANDS</a> -->
                <a href="/admin/coupons">COUPONS</a>
                <a href="/admin/offers">OFFERS</a>
                <a href="/admin/report">REPORT</a>
            </div>
            <% if(orders.length==0) { %>
                <div class="content-main ms-3 mt-3">
                    <h3>No order data available</h3>
                </div>
                <% } else { %>
                    <div class="content-main ms-3 mt-3">
                        <div style="width: 100%x;">
                            <table class="table table-hover text-center w-auto mx-auto mt-3">
                                <thead>
                                    <tr>
                                        <th class="fw-bold bg-dark-grn" scope="col">No</th>
                                        <!-- <th class="fw-bold bg-dark-grn" scope="col">Order ID</th> -->
                                        <!-- <th class="fw-bold bg-dark-grn" scope="col">User ID</th> -->
                                        <th class="fw-bold bg-dark-grn" scope="col">Product Image</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Product Name</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Product Code</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Quantity</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Cost</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Order Status</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Payment Option</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Payment Status</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Status Action</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Cancel Action</th>
                                        <th class="fw-bold bg-dark-grn" scope="col">Return Action</th>
                                    </tr>
                                </thead>
                                <tbody style="font-weight: 600;">
                                    <% let k=0; %>

                                        <% for (let i=0; i < orders.length; i++) { %>
                                            <% let orderProducts=products.filter(p=> p.orderId.equals(orders[i]._id));
                                                %>

                                                <% for (let j=0; j < orderProducts.length; j++) { %>
                                                    <tr>
                                                        <td scope="row">
                                                            <%= ++k %>
                                                        </td>
                                                        <!-- <td>
                                                            <%= orders[i]._id %>
                                                        </td> -->
                                                        <td>
                                                            <img src="/images/<%= orderProducts[j].productImages[0] %>"
                                                                style="width: 50px; height: 50px;" alt="">
                                                        </td>
                                                        <td>
                                                            <%= orderProducts[j].productName %>
                                                        </td>
                                                        <td>
                                                            <%= orderProducts[j].productCode %>
                                                        </td>
                                                        <td>
                                                            <%= orders[i].products[j].quantity %>
                                                        </td>
                                                        <td>
                                                            <%= (parseInt(orders[i].products[j].quantity) *
                                                                parseFloat(orderProducts[j].price)).toFixed(2) %>
                                                        </td>
                                                        <td>
                                                            <%= orders[i].products[j].status %>
                                                        </td>
                                                        <td>
                                                            <%= orders[i].paymentMethod %>
                                                        </td>
                                                        <td>
                                                            <%= orders[i].paymentStatus %>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-secondary dropdown-toggle"
                                                                    type="button" data-bs-toggle="dropdown">
                                                                    <%= orders[i].products[j].status %>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <% let statuses=["Order Placed", "Packed"
                                                                        , "Shipped" , "Out for Delivery" , "Delivered"
                                                                        ]; %>
                                                                        <% statuses.forEach(status=> { %>
                                                                            <li>
                                                                                <form
                                                                                    action="/admin/orders/status/<%= orders[i]._id %>/<%= orderProducts[j].productCode %>/<%= status.toLowerCase().replace(/\s+/g, '-') %>?_method=PUT"
                                                                                    method="post">
                                                                                    <button type="submit"
                                                                                        class="dropdown-item">
                                                                                        <%= status %>
                                                                                    </button>
                                                                                </form>
                                                                            </li>
                                                                            <% }) %>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <% if (!orders[i].products[j]?.cancelStatus ||
                                                                orders[i].products[j].status==='Delivered' ) { %>
                                                                NA
                                                                <% } else { %>
                                                                    <div class="dropdown">
                                                                        <button
                                                                            class="btn btn-secondary dropdown-toggle"
                                                                            type="button" data-bs-toggle="dropdown">
                                                                            <%= orders[i].products[j].cancelStatus %>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <% let cancelOptions=["Approved", "Rejected"
                                                                                ]; %>
                                                                                <% cancelOptions.forEach(option=> { %>
                                                                                    <li>
                                                                                        <form
                                                                                            action="/admin/orders/cancellation/<%= orders[i]._id %>/<%= orderProducts[j].productCode %>/<%= option.toLowerCase() %>?_method=PUT"
                                                                                            method="post">
                                                                                            <button type="submit"
                                                                                                class="dropdown-item">
                                                                                                <%= option %>
                                                                                            </button>
                                                                                        </form>
                                                                                    </li>
                                                                                    <% }) %>
                                                                        </ul>
                                                                    </div>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (!orders[i].products[j]?.returnStatus) { %>
                                                                NA
                                                                <% } else { %>
                                                                    <div class="dropdown">
                                                                        <button
                                                                            class="btn btn-secondary dropdown-toggle"
                                                                            type="button" data-bs-toggle="dropdown">
                                                                            <%= orders[i].products[j].returnStatus %>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <% let returnOptions=["Approved", "Rejected"
                                                                                , "Picked Up" , "Return Received"
                                                                                , "Refunded" ]; %>
                                                                                <% returnOptions.forEach(option=> { %>
                                                                                    <li>
                                                                                        <form
                                                                                            action="/admin/orders/return/<%= orders[i]._id %>/<%= orderProducts[j].productCode %>/<%= option.toLowerCase().replace(/\s+/g, '-') %>?_method=PUT"
                                                                                            method="post">
                                                                                            <button type="submit"
                                                                                                class="dropdown-item">
                                                                                                <%= option %>
                                                                                            </button>
                                                                                        </form>
                                                                                    </li>
                                                                                    <% }) %>
                                                                        </ul>
                                                                    </div>
                                                                    <% } %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% } %>
        </div>

        <div class="pagination-container text-center mt-4">
            <% if (totalPages> 1) { %>
                <nav>
                    <ul class="pagination" style="justify-content: center;">
                        <% if (currentPage> 1) { %>
                            <li class="page-item">
                                <a class="page-link" href="/admin/orders?page=<%= currentPage - 1 %>">Previous</a>
                            </li>
                            <% } %>

                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="/admin/orders?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>

                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item">
                                                <a class="page-link"
                                                    href="/admin/orders?page=<%= currentPage + 1 %>">Next</a>
                                            </li>
                                            <% } %>
                    </ul>
                </nav>
                <% } %>
        </div>
    </main>

    <%- include ('../partials/admin-footer.ejs') %>