<%- include ('../partials/admin-header.ejs') %>

    <main class="mt-3" style="height: auto; width: 100%;">
    <div class=" content-head">
        <div class="content-head-rect col-5 bg-dark-grn">
            <div>
                <h2 class="content-head-txt">ORDER MANAGEMENT</h2>
            </div>
            <div class="content-head-tri ms-auto"></div>
        </div>
        </div>
        <div class="content-body side-margin text-center mt-3">
            <div class="sidebar align-items-center">
                <a href="/admin/home">DASHBOARD</a>
                <a href="/admin/products">PRODUCTS</a>
                <a href="/admin/users">USERS</a>
                <a href="/admin/categories">CATEGORIES</a>
                <a class="active" href="/admin/orders">ORDERS</a>
                <a href="/admin/brands">BRANDS</a>
                <a href="/admin/coupons">COUPONS</a>
                <a href="/admin/offers">OFFERS</a>
                <a href="/admin/report">REPORT</a>
            </div>
            <div class="content-main ms-3 mt-3">
                <div style="width: 100%x;">
                    <table class="table table-hover text-center w-auto mx-auto mt-3">
                        <thead>
                            <tr>
                                <th class="fw-bold bg-dark-grn" scope="col">No</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Order ID</th>
                                <!-- <th class="fw-bold bg-dark-grn" scope="col">User ID</th> -->
                                <th class="fw-bold bg-dark-grn" scope="col">Product Image</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Product Name</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Product Code</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Quantity</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Cost</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Order Status</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Payment Option</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Payment Status</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Status Action</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Cancel Action</th>
                                <th class="fw-bold bg-dark-grn" scope="col">Return Action</th>
                            </tr>
                        </thead>
                        <tbody style="font-weight: 600;">
                            <% let k=0 %>
                                <% for(let i=0; i < orders.length ; i++) { %>
                                    <% for (let j=0; j < products[i].length ; j++) { %>
                                        <tr>
                                            <td scope="row">
                                                <%= ++k %>
                                            </td>
                                            <td>
                                                <%= orders[i]._id %>
                                            </td>
                                            <!-- <td>
                                                <%= orders[i].user_id %>
                                            </td> -->
                                            <td>
                                                <img src="/images/<%= products[i][j].productImages[0] %>"
                                                    style="width: 50px; height: 50px;" alt="">
                                            </td>
                                            <td>
                                                <%= products[i][j].productName %>
                                            </td>
                                            <td>
                                                <%= products[i][j].productCode %>
                                            </td>
                                            <td>
                                                <%= orders[i].products[j].quantity %>
                                            </td>
                                            <td>
                                                <%= (parseInt(orders[i].products[j].quantity)*parseFloat(products[i][j].price)).toFixed(2)
                                                    %>
                                            </td>
                                            <td>
                                                <%= orders[i].products[j].status %>
                                            </td>
                                            <td>
                                                <%= orders[i].paymentMethod %>
                                            </td>
                                            <td>
                                                <%= orders[i].paymentStatus %>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="sortDropdown" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <%= orders[i].products[j].status %>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                                                        <li>
                                                            <form
                                                                action="/admin/orders/status/<%= orders[i]._id %>/<%= products[i][j].productCode %>/order-placed?_method=PUT"
                                                                method="post">
                                                                <button type="submit" class="dropdown-item">Order
                                                                    placed</button>
                                                            </form>
                                                        </li>
                                                        <li>
                                                            <form
                                                                action="/admin/orders/status/<%= orders[i]._id %>/<%= products[i][j].productCode %>/packed?_method=PUT"
                                                                method="post">
                                                                <button type="submit"
                                                                    class="dropdown-item">Packed</button>
                                                            </form>
                                                        </li>
                                                        <li>
                                                            <form
                                                                action="/admin/orders/status/<%= orders[i]._id %>/<%= products[i][j].productCode %>/shipped?_method=PUT"
                                                                method="post">
                                                                <button type="submit"
                                                                    class="dropdown-item">Shipped</button>
                                                            </form>
                                                        </li>
                                                        <li>
                                                            <form
                                                                action="/admin/orders/status/<%= orders[i]._id %>/<%= products[i][j].productCode %>/out-for-delivery?_method=PUT"
                                                                method="post">
                                                                <button type="submit" class="dropdown-item">Out for
                                                                    delivery</button>
                                                            </form>
                                                        </li>
                                                        <li>
                                                            <form
                                                                action="/admin/orders/status/<%= orders[i]._id %>/<%= products[i][j].productCode %>/delivered?_method=PUT"
                                                                method="post">
                                                                <button type="submit"
                                                                    class="dropdown-item">Delivered</button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </td>
                                            <td>
                                                <% if (!orders[i].products[j]?.cancelStatus ||
                                                    orders[i].products[j].status=='Delivered') { %>
                                                        NA
                                                    <% } else { %>
                                                        <div class="dropdown">
                                                            <button class="btn btn-secondary dropdown-toggle"
                                                                type="button" id="sortDropdown"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                <%= orders[i].products[j].cancelStatus %>
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                                                                <li>
                                                                    <form
                                                                        action="/admin/orders/cancellation/<%= orders[i]._id %>/<%= products[i][j].productCode %>/approved?_method=PUT"
                                                                        class="dropdown-item sort-option" method="post"
                                                                        data-sort="order-placed">
                                                                        <button type="submit"
                                                                            class="dropdown-item">Approved
                                                                        </button>
                                                                    </form>
                                                                </li>
                                                                <li>
                                                                    <form
                                                                        action="/admin/orders/cancellation/<%= orders[i]._id %>/<%= products[i][j].productCode %>/rejected?_method=PUT"
                                                                        class="dropdown-item sort-option" method="post"
                                                                        data-sort="packed">
                                                                        <button type="submit"
                                                                            class="dropdown-item">Rejected
                                                                        </button>
                                                                    </form>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <% } %>
                                            </td>
                                            <td>
                                                <% if (!orders[i].products[j]?.returnStatus) { %>
                                                        NA
                                                    <% } else { %>
                                                        <div class="dropdown">
                                                            <button class="btn btn-secondary dropdown-toggle"
                                                                type="button" id="sortDropdown"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                <%= orders[i].products[j].returnStatus %>
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                                                                <li>
                                                                    <form
                                                                        action="/admin/orders/return/<%= orders[i]._id %>/<%= products[i][j].productCode %>/approved?_method=PUT"
                                                                        class="dropdown-item sort-option" method="post"
                                                                        data-sort="order-placed">
                                                                        <button type="submit"
                                                                            class="dropdown-item">Approved
                                                                        </button>
                                                                    </form>
                                                                </li>
                                                                <li>
                                                                    <form
                                                                        action="/admin/orders/return/<%= orders[i]._id %>/<%= products[i][j].productCode %>/rejected?_method=PUT"
                                                                        class="dropdown-item sort-option" method="post"
                                                                        data-sort="packed">
                                                                        <button type="submit"
                                                                            class="dropdown-item">Rejected
                                                                        </button>
                                                                    </form>
                                                                </li>
                                                                <li>
                                                                    <form
                                                                        action="/admin/orders/return/<%= orders[i]._id %>/<%= products[i][j].productCode %>/picked-up?_method=PUT"
                                                                        class="dropdown-item sort-option" method="post"
                                                                        data-sort="packed">
                                                                        <button type="submit"
                                                                            class="dropdown-item">Picked Up
                                                                        </button>
                                                                    </form>
                                                                </li>
                                                                <li>
                                                                    <form
                                                                        action="/admin/orders/return/<%= orders[i]._id %>/<%= products[i][j].productCode %>/return-received?_method=PUT"
                                                                        class="dropdown-item sort-option" method="post"
                                                                        data-sort="packed">
                                                                        <button type="submit"
                                                                            class="dropdown-item">Return Received
                                                                        </button>
                                                                    </form>
                                                                </li>
                                                                <li>
                                                                    <form
                                                                        action="/admin/orders/return/<%= orders[i]._id %>/<%= products[i][j].productCode %>/refunded?_method=PUT"
                                                                        class="dropdown-item sort-option" method="post"
                                                                        data-sort="packed">
                                                                        <button type="submit"
                                                                            class="dropdown-item">Refunded
                                                                        </button>
                                                                    </form>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <%- include ('../partials/admin-footer.ejs') %>