<%- include ('../partials/user-header.ejs') %>

    <div class="checkout side-margin mt-5">
        <div class="card">
            <div class="card-top border-bottom text-center">
                <a href="/"> Back to shop</a>
                <% if(warning) { %>
                    <p id="warning" class="text-danger" style="margin-top: 0.7rem; margin-bottom: inherit;">
                        <%= warning %>
                    </p>
                    <% } %>
            </div>
            <div class="card-body">
                <div class="row upper">
                    <span><i class="fa fa-check-circle-o"></i> Shopping cart</span>
                    <span><i class="fa fa-check-circle-o"></i> Checkout</span>
                    <span id="payment"><span id="three">3</span> Payment</span>
                </div>
                <form id="checkoutForm" action="/checkout/place-order" method="POST">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="left border">
                                <div class="row">
                                    <span class="header rounded p-3">Payments</span>
                                </div>
                                <!-- Payment Options -->
                                <div class="row">

                                    <!-- wallet Option -->
                                    <div class="col-md-6 mt-3" style="display: flex;">
                                        <div class="card">
                                            <div class="card-header mt-3"
                                                style="display: flex; justify-content: center;">
                                                <div class="form-check">
                                                    <input style="width: inherit;" class="form-check-input" type="radio"
                                                        name="paymentMethod" id="walletOption" value="wallet">
                                                    <label class="form-check-label" for="walletOption">
                                                        <h5 style="font-weight: 700;">Wallet</h5>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body text-center px-3 pb-0">
                                                <p>Use wallet if you have enough balance.</p>
                                                <p id="walletBalance" style="color: green;">Wallet balance is: <%= wallet.balanceAmount.toFixed(2) %>.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- RazorPay Option -->
                                    <div class="col-md-6 mt-3" style="display: flex;">
                                        <div class="card">
                                            <div class="card-header mt-3"
                                                style="display: flex; justify-content: center;">
                                                <div class="form-check">
                                                    <input style="width: inherit;" class="form-check-input" type="radio"
                                                        name="paymentMethod" id="razorPayOption" value="razorPay">
                                                    <label class="form-check-label" for="razorPayOption">
                                                        <h5 style="font-weight: 700;">RazorPay</h5>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body text-center px-3 pb-0">
                                                <p>Pay with RazorPay for a fast and secure transaction.</p>
                                                <!-- <button class="btn btn-success w-100 rounded">RazorPay</button> -->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Cash on Delivery Option -->
                                    <div class="col-md-6 mt-3" style="display: flex;">
                                        <div class="card">
                                            <div class="card-header mt-3"
                                                style="display: flex; justify-content: center;">
                                                <div class="form-check">
                                                    <input style="width: inherit;" class="form-check-input" type="radio"
                                                        name="paymentMethod" id="codOption" value="COD">
                                                    <label class="form-check-label" for="codOption">
                                                        <h5 style="font-weight: 700;">Cash on Delivery (COD)</h5>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body text-center px-3 pb-0">
                                                <p>Pay when your order arrives at your doorstep.</p>
                                                <!-- <button class="btn btn-dark w-100 rounded">COD</button> -->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Card payment Option -->
                                    <div class="col-md-12 mt-3">
                                        <div class="icons">
                                            <img src="https://img.icons8.com/color/48/000000/visa.png" />
                                            <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                                            <img src="https://img.icons8.com/color/48/000000/maestro.png" />
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="form-check">
                                                    <input disabled style="width: inherit;" class="form-check-input"
                                                        type="radio" name="paymentMethod" id="cardOption" value="Card">
                                                    <label class="form-check-label" for="cardOption">
                                                        <h5 style="font-weight: 700;">Card Payment</h5>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="mb-3">
                                                        <label for="cardName" class="form-label">Cardholder's
                                                            Name</label>
                                                        <input disabled type="text" class="form-control" id="cardName"
                                                            placeholder="Enter name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="cardNumber" class="form-label">Card Number</label>
                                                        <input disabled type="text" class="form-control" id="cardNumber"
                                                            placeholder="XXXX-XXXX-XXXX-XXXX">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="expiryDate" class="form-label">Expiry Date</label>
                                                        <input disabled type="month" class="form-control"
                                                            id="expiryDate">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="cvv" class="form-label">CVV</label>
                                                        <input disabled type="text" class="form-control" id="cvv"
                                                            placeholder="XXX">
                                                    </div>
                                                    <!-- <button type="submit" class="btn btn-primary w-100 rounded">Pay -->
                                                    <!-- Now</button> -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="right border addressContainer">
                                <div class="header rounded p-3">Select Address</div>
                                <!-- Loop through the addresses passed from the backend -->
                                <% if (addresses && addresses.length> 0) { %>
                                    <% addresses.forEach(function(address, index) { %>
                                        <div class="address-card mb-3 p-3 border">
                                            <div class="form-check">
                                                <input class="form-check-input" style="width: inherit;" type="radio"
                                                    name="selectedAddress" id="address<%= index %>"
                                                    value="<%= address._id %>">
                                                <label class="form-check-label" for="address<%= index %>">
                                                    <p><strong>
                                                            <%= user[0].fname+' '+user[0].lname %>
                                                    </strong></p>
                                                <p>
                                                    <%= address.house %>, <%= address.street %>, <%= address.post %>,
                                                     <%= address.city %>, <%= address.state %>, - <%= address.pincode %> 
                                                </p>
                                                <p>
                                                    <%= address.mobile %>
                                                </p>
                                            </label>
                                        </div>
                                    </div>
                                    <% }); %>
                                    <div style="display: flex; justify-content: center;">
                                        <a id="add-address" href="/address/add"><button id="add-address-button"
                                            class="btn rounded button bg-dark-grn">Add Address</button></a>
                                    </div>
                                        <% } else { %>
                                            <p>No saved addresses. <a href="/address/add">Add a new address</a></p>
                                            <% } %>
                        </div>
                        <div class="right border mt-3">
                            <div class="header rounded p-3">Order Summary</div>
                            <p>
                                <%= cartProducts.length %> items
                            </p>
                            <% for(let i=0;i < cartProducts.length;i++) { %>
                                <div class="row item productCard">
                                    <div class="col-4 align-self-center">
                                        <img class="img-fluid productImage"
                                            src="/images/<%= cartProducts[i].productImages[0] %>">
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="row text-muted productName" style="font-weight: 600;">
                                            <%= cartProducts[i].productName %>
                                        </div>
                                        <div class="row productPrice">
                                            Price: ₹ <%= Number(cartProducts[i].price).toFixed(2) %>
                                        </div>
                                        <div class="row productQuantity">
                                            Qty: <%= cartProducts[i].quantity %>
                                        </div>
                                        <div class="row subTotal"
                                            data-subTotal="<%= (Number(cartProducts[i].price) * Number(cartProducts[i].quantity)).toFixed(2) %>">
                                            Sub total: ₹ <%= (Number(cartProducts[i].price) *
                                                Number(cartProducts[i].quantity)).toFixed(2) %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <hr>
                                    <div class="row lower">
                                        <div class="col text-left">Product price</div>
                                        <div class="col text-right" id="productPrice"
                                        data-productPrice="<%= totalValue.toFixed(2) %>">₹ <%= totalValue.toFixed(2) %></div>

                                    </div>
                                    <div class="row lower">
                                        <div class="col text-left">Delivery</div>
                                        <div class="col text-right" id="delivery" 
                                        data-delivery="<%= deliveryCharge.toFixed(2) %>">₹ <%= deliveryCharge.toFixed(2) %></div>
                                    </div>
                                    <div class="row lower">
                                        <div class="col text-left">Discount</div>
                                        <div class="col text-right" id="discount" 
                                        data-discount="<%= discount.toFixed(2) %>">₹ <%= discount.toFixed(2) %></div>
                                    </div>
                                    <div class="row lower" id="couponDiscountDiv">
                                        <div class="col text-left">Coupon Discount</div>
                                        <div class="col text-right" id="couponDiscount" data-couponDiscount="0">₹ 0.00</div>
                                    </div>
                                    <div class="row lower">
                                        <div class="col text-left"><b>Total to pay</b></div>
                                        <div class="col text-right" id="total" data-total=""><b>0.00</b></div>
                                    </div>
                                    <div class="row lower">

                                        <div id="removeCouponDiv" hidden>
                                            <br>
                                            <span>Coupon Applied, <a href="" id="removeCoupon">Remove?</a></span>
                                        </div>

                                        <form class="form-inline" id="couponForm">
                                            <div class="form-group">
                                                <label for="couponInput">Have coupon?</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control coupon col-md-10" id="couponInput" name="couponCode" placeholder="Coupon code" style="margin: inherit;">
                                                    <button class="btn rounded button bg-dark-grn col-md-2 ms-1" id="couponButton" style="width: 25%; margin: inherit;">
                                                        Apply
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    
                                    <!-- Hidden inputs to pass additional values -->
                                    <input type="hidden" name="productPrice" id="productPriceHidden" value="">
                                    <input type="hidden" name="deliveryCharge" id="deliveryChargeHidden" value="">
                                    <input type="hidden" name="discount" id="discountHidden" value="">
                                    <input type="hidden" name="couponDiscount" id="couponDiscountHidden" value="">
                                    <input type="hidden" name="total" id="totalHidden" value="">

                                    <button type="submit" class="btn rounded button bg-dark-grn">Place Order</button>
                                    <p class="text-muted text-center">Complimentary Shipping & Returns for every purchase above 1000</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        window.onload = () => {
            calculation();
        }

        function calculation() {
            let productPrice = parseFloat(document.getElementById('productPrice').getAttribute('data-productPrice'));
            let
                deliveryCharge = parseFloat(document.getElementById('delivery').getAttribute('data-delivery'));
            let
                discount = parseFloat(document.getElementById('discount').getAttribute('data-discount'));
            let
                couponDiscount = parseFloat(document.getElementById('couponDiscount').getAttribute('data-couponDiscount'));
            let total = productPrice + deliveryCharge - discount -
                couponDiscount;
            document.getElementById('total').innerText = '₹ ' +
                total.toFixed(2);

            if(total > '<%= wallet.balanceAmount %>'){
                document.getElementById('walletOption').setAttribute('disabled',true);
                document.getElementById('walletBalance').style = "color:red;"
            }
                
            // Set hidden inputs to submit to the server
            document.getElementById('productPriceHidden').value = productPrice.toFixed(2);
            document.getElementById('deliveryChargeHidden').value = deliveryCharge.toFixed(2);
            document.getElementById('discountHidden').value = discount.toFixed(2);
            document.getElementById('couponDiscountHidden').value = couponDiscount.toFixed(2);
            document.getElementById('totalHidden').value = total.toFixed(2);
        }
        document.getElementById('add-address-button').addEventListener('click',
            (e) => {
                e.preventDefault();
                window.location.href = '/address/add';
            });

        let couponInput =
            document.getElementById('couponInput');
        let couponButton =
            document.getElementById('couponButton');

        couponButton.addEventListener('click', (e) => {
            e.preventDefault();

            if (!couponInput.value.trim()) {
                alert("Please enter a valid coupon code.");
                return;
            }

            fetch('/couponChecking', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ couponCode: couponInput.value })
            }).then(response => {
                if (!response.ok) {
                    throw new Error("Failed to apply coupon");
                }
                return response.json(); // Assuming the server responds with JSON data
            }).then(data =>{
                document.getElementById('couponForm').setAttribute('hidden',true);
                document.getElementById('removeCouponDiv').removeAttribute('hidden');
                document.getElementById('couponDiscount').setAttribute('data-couponDiscount', '100');
                document.getElementById('couponDiscount').innerText = `₹ ${data.discount}`;

                calculation(); // calculate the changes
            }).catch(err => {
                console.log('error in applying coupon');
                alert("Error applying coupon. Please try again.");
            })
        });

        document.getElementById('removeCoupon').addEventListener('click', (e) => {
            e.preventDefault();
            document.getElementById('removeCouponDiv').setAttribute('hidden',true);
            document.getElementById('couponDiscount').setAttribute('data-couponDiscount', `${0.00}`);
            document.getElementById('couponDiscount').innerText = `₹ ${0.00}`
            document.getElementById('couponForm').removeAttribute('hidden');
            calculation() // calculate the changes
        })

    </script>

                                                                <%- include ('../partials/user-footer.ejs') %>