<%- include ('../partials/user-header.ejs') %>

    <main class="mt-3" style="height: auto;">
        <div class=" content-head">
            <div class="content-head-rect col-5 bg-dark-grn">
                <div>
                    <h2 class="content-head-txt">ALL PRODUCTS</h2>
                </div>
                <div class="content-head-tri ms-auto"></div>
            </div>
        </div>
        <div class="d-flex justify-content-end me-5 mt-3">

            <!-- Sort Dropdown -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <% if (sortOption) { %>
                        <%= sortOption %>
                            <% } else { %>
                                Sort By
                                <% } %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                    <li><a href="/products/sort/popularity" class="dropdown-item sort-option"
                            data-sort="popularity">Popularity</a></li>
                    <li><a href="/products/sort/priceLtoH" class="dropdown-item sort-option"
                            data-sort="priceLtoH">Price: Low to High</a></li>
                    <li><a href="/products/sort/priceHtoL" class="dropdown-item sort-option"
                            data-sort="priceHtoL">Price: High to Low</a></li>
                    <li><a href="/products/sort/ratings" class="dropdown-item sort-option" data-sort="ratings">Average
                            Ratings</a></li>
                    <li><a href="/products/sort/featured" class="dropdown-item sort-option"
                            data-sort="featured">Featured</a></li>
                    <li><a href="/products/sort/newArrivals" class="dropdown-item sort-option"
                            data-sort="newArrivals">New Arrivals</a></li>
                    <li><a href="/products/sort/alphaAtoZ" class="dropdown-item sort-option"
                            data-sort="alphaAtoZ">A-Z</a></li>
                    <li><a href="/products/sort/alphaZtoA" class="dropdown-item sort-option"
                            data-sort="alphaZtoA">Z-A</a></li>
                </ul>
            </div>

            <!-- Category filter -->
            <div class="dropdown ms-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <% if (categoryOption) { %>
                        <%= categoryOption %>
                            <% } else { %>
                                Choose Categories
                                <% } %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                    <% for (let i=0;i < categories.length;i++) { %>
                        <li><a href="/products/filter/<%= categories[i].categoryName %>"
                                class="dropdown-item sort-option">
                                <%= categories[i].categoryName %>
                            </a></li>
                        <% } %>
                </ul>
            </div>
        </div>
        <div>
            <div class="content-body side-margin text-start mt-3 card-container product-container">
                <% for( let i=0;i<products.length;i++ ) { %>
                    <a href="/products/<%= products[i].productCode %>" style="text-decoration: none;"
                        class="col-dark-grn">
                        <div class="card cards product-card">
                            <div class="card-content">
                                <img src="/images/<%= products[i].productImages[0] %>" class="card-img-top p-3 border"
                                    alt="...">
                                <div class="card-body p-3 text-center col-dark-grn">
                                    <h4 class="card-title">
                                        <%= products[i].productName %>
                                    </h4>
                                    <h6 class="card-text">Price: <%= products[i].price %>
                                    </h6>
                                    <span class="card-text">Minimum Age: <%= products[i].minimumAge %></span>
                                    <span class="card-text">
                                        <%= products[i].productDescription %>
                                    </span>
                                    <div class="col-dark-grn ps-3 pe-3 mt-3"
                                        style="display: flex; justify-content: space-between; align-items: center;">
                                        <button style="color: white; z-index: 3;" class="btn bg-dark-grn buyNow"
                                            type="submit" data-product-code="<%= products[i].productCode %>">BUY
                                            NOW</button>
                                        <button style="color: white; z-index: 3;"
                                            class="btn bg-dark-grn add-to-cart-btn" type="button"
                                            data-product-code="<%= products[i].productCode %>"><i
                                                class="fa-solid fa-cart-shopping"></i></button>
                                        <button style="color: white; z-index: 3;" class="btn bg-dark-grn wish-list-btn"
                                            type="button" data-product-code="<%= products[i].productCode %>"><i
                                                class="fa-regular fa-heart"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <% } %>
            </div>
        </div>
        <div class="pagination-container text-center mt-4">
            <% if (totalPages> 1) { %>
                <nav>
                    <ul class="pagination" style="justify-content: center;">
                        <% if (currentPage> 1) { %>
                            <li class="page-item">
                                <% if (sortOption) { %>
                                    <a class="page-link"
                                        href="/products/sort/<%= sortOption %>/?page=<%= currentPage - 1 %>">Previous</a>
                                    <% } else { %>
                                        <a class="page-link" href="/products?page=<%= currentPage - 1 %>">Previous</a>
                                        <% } %>
                            </li>
                            <% } %>

                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <% if (sortOption) { %>
                                            <a class="page-link" href="/products/sort/<%= sortOption %>/?page=<%= i %>">
                                                <%= i %>
                                            </a>
                                            <% } else { %>
                                                <a class="page-link" href="/products?page=<%= i %>">
                                                    <%= i %>
                                                </a>
                                                <% } %>

                                    </li>
                                    <% } %>

                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item">
                                                <% if (sortOption) { %>
                                                    <a class="page-link"
                                                        href="/products/sort/<%= sortOption %>/?page=<%= currentPage + 1 %>">Next</a>
                                                    <% } else { %>
                                                        <a class="page-link"
                                                            href="/products?page=<%= currentPage + 1 %>">Next</a>
                                                        <% } %>

                                            </li>
                                            <% } %>
                    </ul>
                </nav>
                <% } %>
        </div>

    </main>

    <script>
        // Buy Now button event handling
        let buyNow = document.querySelectorAll('.buyNow');
        buyNow.forEach(button => {
            button.addEventListener('click', (event) => {
                event.preventDefault();
                event.stopPropagation();
                const productCode = button.getAttribute('data-product-code');
                window.location.href = `/add-to-cart/${productCode}`;
            });
        });

        // Add to Cart button click event handling
        let addToCart = document.querySelectorAll('.add-to-cart-btn');
        addToCart.forEach(button => {
            button.addEventListener("click", (e) => {
                e.preventDefault();
                e.stopPropagation();

                const productCode = button.getAttribute('data-product-code');
                const user = "<%= user %>";

                if (user.length > 0) {
                    fetch(`/add-to-cart`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ productCode })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                toastr.info('Added to Cart!');
                                document.getElementById("cart-count").textContent = data.cartCountNew;
                            } else {
                                toastr.warning(data.message);
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error);
                        });
                } else {
                    fetch(`/add-to-cart`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'text/html' }
                    })
                        .then(response => response.text())
                        .then(html => {
                            document.documentElement.innerHTML = html;
                        })
                        .catch(error => console.log('Error loading page:', error));
                }
            })
        })


        // add to wishlist button handling
        let wishList = document.querySelectorAll('.wish-list-btn');
        wishList.forEach(button => {
            button.addEventListener('click', (e) => {
                e.preventDefault();
                e.stopPropagation();

                const productCode = button.getAttribute('data-product-code');
                const user_id = '<%= user %>';

                if (user_id.length > 0) {

                    fetch(`/addToWishList`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ productCode })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                toastr.info('Added to wishlist!');
                            } else {
                                toastr.warning(data.message);
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error);
                        });

                } else {

                    fetch(`/addToWishList`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'text/html' },
                    }).then(response => response.text())
                        .then(html => {
                            document.documentElement.innerHTML = html;
                        })
                        .catch(error => console.log('Error loading page:', error));

                }
            })
        })
    </script>

    <%- include ('../partials/user-footer.ejs') %>